#portada{
    text-align: center;
}
.display-4{
    border-bottom: 2px solid white;
}
.jumbotron{
    background-color: rgb(19,61,110);
    color:white;
    margin-top:150px;
}
.btn:active{
    transform: scale(0.8);
}
.card{
    margin:10px;
    background-color: rgb(248,249,250);
    display:block;
    height: min-content;
    text-align: center;
}
.card-title{
    text-shadow: 2px 2px 4px grey;
}
html body{
    background-image: url(imagenes/fondo3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.contenedor{
    display: flex; 
    justify-content: center;
    margin-top: 130px;
    margin-bottom: 50px;
    flex-wrap: wrap;

 }
.nav-item{
    margin-right: 80px;
    font-size: 25px;
    border-radius: 5px;
}
.navbar-brand{
    margin-top:7px;
    font-size:30px;
}
.sumate{
    margin-top: 7px;
    font-size:25px;
}
.lead a{
    color:white;
}

.lead{
    margin-top: 30px;
}
.app{
    margin:25px;
    border-radius: 5px;
    border:1px solid rgb(19,61,110);
    display:block;
    width:400px;
    text-align: center;
    padding:5px;
    background-color: #FFFFFF80;
}
.firma{
    display:block;
    float: right;
    text-align: center;
    border-radius: 5px;
    border:1px solid rgb(19,61,110);
    margin:25px;
    padding:5px;
    height: 160px;
    background-color: #FFFFFF80;
}
.fab{
    font-size: 50px;
    margin-bottom:10px;
}
.footer{
justify-content: space-between;
display:flex;
}
.btn{
    margin-top:4px;
}

.dropdown-toggle{
    border-radius: 10px;
}
.navbar{
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index:100;
}
.card{
    border: 2px solid black;
}